<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="columns">
        <div class="column">
            <img src="https://s3.amazonaws.com/assets.cce.cornell.edu/slides/67859/image/sized/Glenda_and_Tim_at_CLC_Fall_2017.jpg"alt="">
        </div>
        <div class="column">
        <p>It was a chilly yet sunny day early in March, maybe the 5th but who really knows.  I was working temp jobs all over the city.  Anything I could find to make a buck was fair game, he worst was cleaning the equipment at the Water Treatment plant, the best was working security at the Hoosier Dome.  That day my contact at the temp service said she needed two workers to head over to a independantly owned greehouse on the southwest side of the city. The two of us rode over together.  When the two of us arrived I walked in and saw the LOVE OF MY LIFE! 
        </p>
        <br />
        <p>
        I remember every detail of that very moment. She had an dirt stained apron on and was busy watering seedlings on a long, wide table. Her brown hair was pulled up in a ponytail with a few rebel strands hanging on the side of her beautiful face.  
            </p>      



            No, beet it!! I don't carrot all for gardening!!
        </div>
    </div>




</body>

</html>