
    <!-- <p>contact works!</p>

    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/YOUR_EMAIL_HERE"
      method="post">
      <fieldset id="fs-frm-inputs">
        <label for="full-name">Full Name</label>
        <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
        <label for="email-address">Email Address</label>
        <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
        <label for="message">Message</label>
        <textarea rows="5" name="message" id="message"
          placeholder="Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla nullam quis risus."
          required=""></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
      </fieldset>
      <input type="submit" value="Submit">
    </form> -->

    <!-- hero banner section -->
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">Contact Us!</h1>
                <h2 class="subtitle">Send us a message and we'll respond as soon as possible.</h2>
            </div>
        </div>
    </section>

    <!-- columns -->
    <div class="columns">        
        <div class="card">
            <div class="card-content">
                <h2 class="title">Quote</h2>
                <h3 class="subtitle">Author</h3>
            </div>
            <footer class="card-footer">
                <div class="card-footer-item">
                    <a href="#" class="button is-success">
                        <i class="fa fa-thumbs-o-up"></i>
                    </a>
                </div>
                <div class="card-footer-item">
                  <a href="#" class="button is-danger">
                    <i class="fa fa-thumbs-o-down"></i>
                  </a>
                </div>
                <div class="card-footer-item">
                  <a href="#" class="button is-info">
                    <i class="fa fa-retweet"></i>
                  </a>
                </div>
            </footer>
        </div>

        <div class="column">
            <div class="card">
              <div class="card-content">
                <h2 class="title">Quote</h2>
                <h3 class="subtitle">Author</h3>
              </div>
              <footer class="card-footer">
                <div class="card-footer-item">
                  <a href="#" class="button is-success">
                    <i class="fa fa-thumbs-o-up"></i>
                  </a>
                </div>
                <div class="card-footer-item">
                  <a href="#" class="button is-danger">
                    <i class="fa fa-thumbs-o-down"></i>
                  </a>
                </div>
                <div class="card-footer-item">
                  <a href="#" class="button is-info">
                    <i class="fa fa-retweet"></i>
                  </a>
                </div>
              </footer>
            </div>
        </div>

        <div class="column">
            <div class="card">
              <div class="card-content">
                <h2 class="title">Quote</h2>
                <h3 class="subtitle">Author</h3>
              </div>
              <footer class="card-footer">
                <div class="card-footer-item">
                  <a href="#" class="button is-success">
                    <i class="fa fa-thumbs-o-up"></i>
                  </a>
                </div>
                <div class="card-footer-item">
                  <a href="#" class="button is-danger">
                    <i class="fa fa-thumbs-o-down"></i>
                  </a>
                </div>
                <div class="card-footer-item">
                  <a href="#" class="button is-info">
                    <i class="fa fa-retweet"></i>
                  </a>
                </div>
              </footer>
            </div>
        </div>

    </div>

