

<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <p class="title">Seal</p>
                    <p class="subtitle">Henry Olusegun Adeola Samuel, known professionally as Seal, is a British
                        musician, singer, and songwriter. He has sold over 20 million records worldwide, with his first
                        international hit song, "Crazy", released in 1991; his most celebrated song, "Kiss from a Rose",
                        was released in 1994. Wikipedia</p>
                </article>
                <article class="tile is-child notification is-warning">
                    <marquee id="marQ">There used to be a greying tower alone on the sea
                        You became the light on the dark side of me
                        Love remained a drug that's the high and not the pill
                        But did you know that when it snows
                        My eyes become large and the light that you shine can be seen?
                        Baby, I compare you to a kiss from a rose on the grey
                        Ooh, the more I get of you, the stranger it feels, yeah
                        Now that your rose is in bloom
                        A light hits the gloom on the grey
                        There is so much a man can tell you, so much he can say
                        You remain my power, my pleasure, my pain
                        Baby, to me, you're like a growing addiction that I can't deny
                        Won't you tell me, is that healthy, baby?
                        But did you know that when it snows
                        My eyes become large and the light that you shine can be seen?
                        Baby, I compare you to a kiss from a rose on the grey
                        Ooh, the more I get of you, the stranger it feels, yeah
                        Now that your rose is in bloom
                        A light hits the gloom on the grey
                        I've been kissed by a rose on the grey
                        I've been kissed by a rose on the grey
                        And if I should fall, will it all go away?
                        I've been kissed by a rose on the grey
                        There is so much a man can tell you, so much he can say
                        You remain my power, my pleasure, my pain
                        To me, you're like a growing, addiction that I can't deny
                        Won't you tell me, is that healthy, baby?
                        But did you know that when it snows
                        My eyes become large, and the light that you shine can be seen?
                        Baby, I compare you to a kiss from a rose on the grey
                        Ooh, the more I get of you, the stranger it feels, yeah
                        Now that your rose is in bloom
                        A light hits the gloom on the grey
                        Yes I compare you to a kiss from a rose on the grey
                        Ooh, the more I get of you stranger it feels, yeah
                        And now that your rose is in bloom
                        A light hits the gloom on the grey
                        Now that your rose is in bloom
                        A light hits the gloom on the grey
                        Source: LyricFind
                        Songwriters: Henry Olusegun Adeola Samuel
                        Kiss from a Rose lyrics © Universal Music Publishing Group, BMG Rights Management
                    </marquee>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                    <p class="title">The Man</p>
                    <p class="subtitle">Himself</p>
                    <figure class="image is-4by3">
                        <img
                            src="https://media.architecturaldigest.com/photos/5d24f346df64f2000900c189/master/pass/GettyImages-171053842.jpg">
                    </figure>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
                <div class="content">
                    <iframe id="thaVid" width="560" height="315" src="https://www.youtube.com/embed/AMD2TwRvuoU" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child notification is-success">
            <div class="content">
                <p class="title">Seal Greatest</p>
                <p class="subtitle">Hits of All Time</p>
                <div class="content">
                    <ul>
                        <li>Crazy (1991)</li>
                        <li>Every Time I'm With You (2015)
                        </li>
                        <li>I Am Your Man (2009)
                        </li>
                        <li><b>Kiss From A Rose (1994)</b>
                        </li>
                        <li>Life On The Dancefloor (2015)
                        </li>
                        <li>Love (2015)
                        </li>
                        <li>Prayer For The Dying (1994)
                        </li>
                        <li>Secret (2010)
                        </li>
                        <li>The Big Love Has Died (2015)
                        </li>
                        <li>The Way I Lie (2010)
                        </li>
                        <li>Wedding Day (2007)
                        </li>
                        <li>Weight Of My Mistakes (2010)
                        </li>
                        <li>Let Me Roll</li>
                        <li>                    Lips Like Sugar
</li>
                        <li>                    Human Beings
</li>
                        <li>                    Whirlpool
</li>
                        <li>                    Violet
</li>
                        <li>                    Touch
</li>
                        <li>                    Love Is Powerful
</li>
                        <li>Fast Changes</li>
                        <li>The Beginning</li>
                        <li>This Could Be Heaven</li>
                        <li>The Wind Cries Mary</li>
                    </ul>

                    
                    <!-- Latest Craze
                    Excerpt From
                    Dreaming In Metaphors
                    When A Man Is Wrong
                    Human Beings (reprise)
                    
                    
                    Where There's Gold
                    Tinsel Town
                    Stone Free
                    State Of Grace
                    
                    
                    Sparkle -->
                </div>
            </div>
        </article>
    </div>
</div>