<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../node_modules/bulma/css/bulma.css">
</head>
<body>
  <nav class="navbar is-fixed-top" id="theNav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="./seal">.</a>
      
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="./">
          Home
        </a>
  
  
        
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-danger">
              <strong>Sign up</strong>
            </a>
            <a class="button is-outlined">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="column is-fullheight" id="compBody">
  <router-outlet></router-outlet>
</div>
</div>


  <!-- <section class="hero is-transparent is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Kissed by a Rose
        </h1>
        <h2 class="subtitle">
          Love brought us here
        </h2>
        <div class="buttons are-medium">
          <button class="button is-info is-light is-outlined">Products</button>
          <button class="button is-success is-light is-outlined">Contact</button>
          <button class="button is-warning is-light is-outlined">About</button>
          <button class="button is-danger is-light">Danger</button>
        </div>

      </div>
    </div>
  </section> -->



  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Kissed by a Rose</strong> by HackStreet Boys © 2020
      </p>
    </div>
  </footer>

</body>
</html>
