<div>
  <div class="columns">
    <div class="column">
      <div class="card" *ngFor='let plant of product'>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src={{image}} alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src='' alt="Plant image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{plant.product_name}}</p>
              <p class="subtitle is-6">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
