
    <section class="hero is-transparent is-fullheight">
        <div class="hero-body">
          <div class="container">
              
            <h1 class="title">
              Kissed by a Rose
            </h1>
            <h2 class="subtitle">
              Love brought us here
            </h2>
            <div class="buttons are-medium">
              <a button class="button is-info is-light is-outlined" href="./products">Products</a>
              <a button class="button is-danger is-light is-outlined" href="./contact">Contact</a>
              <a button class="button is-success is-light is-outlined" href="./about">About</a>
            </div>
    
          </div>
        </div>
      </section>