
    <section class="hero is-transparent is-fullheight">
        <div class="hero-body">
          <div class="container">
              
            <h1 class="title">
              Kissed by a Rose
            </h1>
            <h2 class="subtitle">
              Love brought us here
            </h2>
            <div class="buttons are-medium">
              <button class="button is-info is-light is-outlined">Products</button>
              <button class="button is-success is-light is-outlined">Contact</button>
              <button class="button is-danger is-outlined">About</button>
            </div>
    
          </div>
        </div>
      </section>